@tailwind base;
@tailwind components;
@tailwind utilities;



/* body{
    background-color: rgb(21, 21, 21);
} */

.dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity)) !important;
}